<!doctype html>
<html>
    <head>
        <title>Test website</title>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </head>
    <body>
        <div>
            <textarea class="exercise1" cols=30 rows=1></textarea> <br>
            <button class="exercise1">Run code from exercise 1</button>
        </div>
        <div>
            <textarea class="exercise2" cols=30 rows=1></textarea> <br>
            <button id="exercise2">Run code from exercise 2</button>
        </div>
    </body>
</html>
